*{
    background-color: white;
    text-decoration: none;
}

.navbar{
    /* background: crimson; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}

.navdiv{
    /* background: crimson; */
    display: flex;
    justify-content: space-between;
}

li{
    display: inline-block;
    margin-block: 15px;
}

li a{
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
}

button{
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}

.logo{
    height: 70px;
    width: 100px;
}